<%- include('partials/header') %>

<main>
  <h1><%= title %></h1>
  
  <p>Explore our available service tracks:</p>

  <ul class="categories-list">
    <% categories.forEach(category => { %>
        <li><a href="/category/<%= category.category_id %>">
                <%= category.name %>
            </a>
        </li>
    <% }); %>
  </ul>

  <!-- Add New Category Action Button -->
  <div class="actions">
    <a href="/new-category" class="button btn-primary">Add New Category</a>
  </div>
  
</main>

<%- include('partials/footer') %>