<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

    <h2><%= organizationDetails.name %></h2>
    <img src="/images/<%= organizationDetails.logo_filename %>" alt="<%= organizationDetails.name %> logo">

    <p>Description: <%= organizationDetails.description %></p>

    <h3>Service Projects</h3>
    <ul>
        <% projects.forEach(project => { %>
            <li><a href="/project/<%= project.project_id %>"><%= project.title %></a></li>
        <% }) %>
    </ul>
</main>

<!-- try to fix the non-appearance of success alert -->
<% const messages = locals.flash ? locals.flash() : {}; %>

<% if (messages.success && messages.success.length > 0) { %>
  <% messages.success.forEach(msg => { %>
    <div class="alert alert-success">
      <%= msg %>
    </div>
  <% }); %>
<% } %>

<% if (messages.error && messages.error.length > 0) { %>
  <% messages.error.forEach(msg => { %>
    <div class="alert alert-danger">
      <%= msg %>
    </div>
  <% }); %>
<% } %>

<%- include('partials/footer') %>